<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>

<div class="modal-body" ng-controller="InvoicesCtrl">
  <form id="itemEditForm" class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-addon">Plan #</div>
          <!-- focus the first input for usability purposes -->
          <input id="plan" class="form-control" ng-model="item.plan" placeholder="Plan #" autofocus />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-addon">Arb #</div>
          <input id="arb" class="form-control" ng-model="item.arb" placeholder="Arb #" />
        </div>
      </div>
    </div>

    <div id="unitInputs">
      <div ng-if="item.unit == 'CUBIC METRE'">
        <label>Enter cubic dimensions</label>
        <div class="input-group">
          <input id="length" type="number" ng-model="item.l" class="form-control" placeholder="Enter length">
          <div class="input-group-addon">x</div>
          <input id="width" type="number" ng-model="item.w" class="form-control" placeholder="Enter width">
          <div class="input-group-addon">x</div>
          <input id="height" type="number" ng-model="item.h" class="form-control" placeholder="Enter height">
        </div>
      </div>
      <div ng-if="item.unit == 'SQUARE METRE'">
        <label>Enter cubic dimensions</label>
        <div class="input-group">
          <input id="length" type="number" ng-model="item.l" class="form-control" placeholder="Enter length">
          <div class="input-group-addon">x</div>
          <input id="width" type="number" ng-model="item.w" class="form-control" placeholder="Enter width">
        </div>
      </div>
      <div ng-if="item.unit == 'METRE'">
        <label>Enter Length</label>
        <div class="input-group">
          <input id="length" type="number" ng-model="item.l" class="form-control" placeholder="Enter length">
        </div>
      </div>
      <div ng-if="item.unit == 'EACH'">
        <label>Enter Quantity</label>
        <div class="input-group">
          <input id="quantity" ng-model="item.quantity" class="form-control" placeholder="Enter Quantity">
        </div>
      </div>
      <div ng-if="item.unit == 'HOURLY'">
        <label>Enter Number of Hours</label>
        <div class="input-group">
          <input id="hours" type="number" ng-model="item.hours" class="form-control" placeholder="# of Hours">
        </div>
      </div>
      <div ng-if="item.unit == 'PERCENTAGE'">
        <label>Enter Percentage</label>
        <div class="input-group">
          <input id="percentage" type="number" ng-model="item.percentage" class="form-control" placeholder="Enter %">
        </div>
      </div>
    </div>

    <label>Comments to Vendor</label>
    <textarea id="comments" ng-model="item.comments" class="form-control"></textarea>

  </form>
</div>

<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
